.decor{
    position: absolute;
    z-index: 1;
}
/*CSS who we are*/
.who-we-are{
    width: 100%;
    padding: 10px;
    margin-top: -300px;
    position: relative;
    z-index: 4;
}
.who-we-are .who-we-are-inner{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.who-we-are-inner-content{
    padding-left: 50px;
}
.who-we-are-inner-content-title{
    margin-bottom: 50px;
}
.who-we-are-btn{
    padding: 10px 50px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0061B0, #3b9eef);
}
.who-we-are-inner-banner img{
    float: right;
}
.who-we-are-inner-content-title{
    .who-we-are-inner-content-title-who{
        font-size: 100px;
    }
    .who-we-are-inner-content-title-weare{
        font-size: 80px;
        padding-left: 100px;
    }
}
/*CSS what we do*/
.dot{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
}
.dot-style{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
.what-we-do-inner-body-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 50px;
}
.what-we-do-inner-body-element{
    margin: 0 15px;
    img{
        width: 100px;
    }
    .what-we-do-inner-body-element-content{
        display: flex;
        flex-direction: column;
    }
}
.what-we-do-inner-body-element-content{
    p{
        font-size: 17px;
    }
}
.what-we-do{
    margin-top: 300px;
    width: 100%;
    position: relative;
}
.what-we-do-inner-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.what-we-do-inner-header-title{
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.what-we-do-inner-header-slogan{
    font-size: 20px;
    padding: 0 100px;
}
.what-we-do-inner-body{
    margin-top: 50px;
    font-size: 20px;
}
.what-we-do-inner-body-container{
    display: flex;
    justify-content: center;
}

/*CSS OUR SERVICES*/
.our-services-inner{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.our-services-inner-content-header-title{
    font-size: 100px;
}
.our-services-inner-content-header-title-services{
    margin-left: 100px;
    margin-top: -50px;
}
.our-services-inner-content-header-introduce{
    font-size: 20px;
}
.our-services-inner-content{
    padding-left: 100px;
}
.our-services-inner-content-body{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.our-services-inner-content-body-element{
    text-align: center;
    padding: 0 20px;
    p{
        width: 80%;
        font-size: 17px;
    }
    div{
        font-size: 20px;
    }
}

/*CSS APPLICATION DEVELOPMENT*/
.application-development{
    margin-top: 200px;
}
.application-development-inner{
    position: relative;
    z-index: 2;
}
.application-development-inner-header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-left: 50px;
}
.application{
    font-size: 80px;
    font-weight: bold;
    color: #0061B0;
}
.development{
    font-size: 80px;
    margin-top: -30px;
    color: #8f8f8f;
}
.application-development-inner-header-describe{
    display: flex;
    align-items: center;
    p{
        font-size: 25px;
    }
}
.application-development-inner-body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.application-development-inner-body-element{
    width: 350px;
    height: 350px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    padding-top: 50px;
    background-color: white;
}
.application-development-inner-body-element-header{
    img{
        width: 100px;
    }
}
.application-development-inner-body-element-content{
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .content{
        font-size: 13px;
        padding: 10px 30px;
    }
}
.center-element{
    width: 450px;
    height: 450px;
    border: 5px solid #0061B0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: #066cbe90 0px 22px 70px 4px;
    position: relative;
}
.decor-center-element{
    position: absolute;
    z-index: -1;
    width: 400px;
    top: -60px;
    left: 20px;
}
.application-development-inner-body-element-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}