
.our-goals{
    padding: 0 100px;
    margin-top: 150px;
    position: relative;
    margin-bottom: 100px;
}
.our-goals-inner{
    width: 100%;
}
.our-goals-inner-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.our-goals-inner-header-title{
    .our{
        font-size: 80px;
        font-weight: bold;
        color: #0061B0;
    }
    .goals{
        font-size: 80px;
        margin-left: 50px;
        margin-top: -50px;
        color: #8f8f8f;
    }
}
.our-goals-inner-header-introduce{
    font-size: 25px;
    display: flex;
    justify-content: center;
    p{
        width: 70%;
        margin: 0;
    }
}
.our-goals-inner-body{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.our-goals-inner-body-content-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.our-goals-inner-body-content{
    p{
        padding-right: 100px;
        font-size: 18px;
    }
}
.our-goals-decor img{
    position: absolute;
    z-index: -1;
    left: -30px;
    width: 300px;
    top: 50px;
}
.carousel-inner{
    display: flex;
}
.carousel-control-prev{
    background-color: rgba(32, 141, 230, 0.511);
    padding: 20px;
    left: -50px;
    height: 100px;
    width: 100px;
    top: calc(50% - 25px);
    border-radius: 50%;
}

.carousel-control-next{
    background-color: rgba(32, 141, 230, 0.511);
    padding: 20px;
    right: -50px;
    height: 100px;
    width: 100px;
    top: calc(50% - 25px);
    border-radius: 50%;
}
#carousel-our-goals .carousel-indicators{
    bottom: -50px;
    button{
        background-color: rgb(168, 168, 168);
    }
    .active{
        background-color: #0061B0;
    }
}